.theme-dark 
  .cards 
    .card 
      img
        filter brightness(200%)  
.cards
  display flex
  flex-wrap wrap
  justify-content space-between
  margin-bottom -20px
  &.oneColumn
    .card
      flex-basis 100%
  &.twoColumn
    .card
      flex-basis calc(50% - 10px)
  &.threeColumn
    .card
      flex-basis calc(33% - 10px)
  .card
    flex-basis calc(33% - 10px)
    margin-bottom 20px
    box-shadow 0px 2px 4px 0px rgba(0,0,0,0.1)
    border-radius 10px
    padding 20px
    padding-left 70px
    box-sizing border-box
    background var(--border-color)
    color var(--primary-color)
    font-weight 400
    transition .2s
    position relative
    &.disabled
      pointer-events none
      overflow hidden
      box-shadow 0px 2px 4px 0px rgba(0,0,0,0.05)
      &:before
        content ''
        display block
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        background rgba(255,255,255, 0.85)
        z-index 3
      &:after
        content 'COMING SOON'
        display flex
        justify-content center
        align-items center
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        color #182E90
        z-index 4
        background rgba(32,67,181, 0.03)
        font-weight bold
        font-size 15px
    &:hover
      text-decoration none !important
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
    &.dark
      background #182E90
      color #fff
      i
        color #5493F7
      .text
        color rgba(255,255,255, 0.75)
      .caption
        color rgba(255,255,255, 0.5)
    i
      color var(--primary-color)
      font-size 30px
      position absolute
      top 20px
      left 20px
    img
      width 28px
      height auto
      position absolute
      top 20px
      left 20px
    .title
      padding 0 0 5px
      font-size 16px
      font-weight 700
    .text
      font-size 14px
      line-height 21px
      color var(--text-color)
    .caption
      padding 5px 0 0
      font-size 11px
      font-weight 500
      text-transform uppercase
      color var(--accent-color)

    &.lg
      text-align center
      padding 30px
      background #E9EDF8
      color var(--primary-color)
      &.dark
        background #182E90
        color #fff
        i
          color var(--accent-color)
        .text
          color rgba(255,255,255, 1.0)
        .caption
          color rgba(255,255,255, 0.5)

      i
        color var(--primary-color)
        float none
        font-size 120px
        height auto
        line-height 140px
        margin-right 0
        margin-bottom 22px
        position static
        top unset
        left unset
      img
        width auto
        height 140px
        margin-bottom 22px
        position static
        top unset
        left unset
      .title
        padding 0 0 10px
        font-size 21px
        font-weight 700
      .text
        font-size 14px
        line-height 21px
        color var(--text-color)
      .caption
        padding 10px 0 0
        font-size 11px
        font-weight 500
        text-transform uppercase
        color: var(--accent-color)
    
    &.app, &.image
      text-align center
      padding 30px
      background #fff
      border solid 1px #f0f0f0
      box-shadow 0px 2px 4px 0px rgba(0,0,0,0.05)
      &:hover
        text-decoration none !important
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
      img
        width auto
        height 60px
        margin-bottom 10px
        position static
        top unset
        left unset
      .title
        font-size 17px
      &.image
        img
          width 100%
          max-width 130px
          height auto
          margin 0
      &.disabled
        box-shadow 0px 2px 4px 0px rgba(0,0,0,0.0)
        &:after
          color rgba(30,30,30, 1)
          background rgba(0,0,0, 0.03)

@media (max-width: $MQNarrow)
  .cards
    &.oneColumn
      .card
        flex-basis 100%
    &.twoColumn
      .card
        flex-basis 100%
    &.threeColumn
      .card
        flex-basis 100%
    .card
      flex-basis 100%

      