
.theme-dark
  .custom-block
    &.tip, &.warning, &.danger, &.details
      background-color lighten($nightBgColor, 5%)

      a
        color $accentColor

    &.warning
      color darken(#ffe564, 15%)

      .custom-block-title
        color darken(#ffe564, 40%)

    &.danger
      color darken(red, 10%) !important

      .custom-block-title
        color darken(red, 5%) !important

    &.details
      color var(--text-color)

.custom-block
  border-radius 5px
  .custom-block-title
    font-weight 700
    margin-bottom -0.4rem
  &.tip, &.warning, &.danger
    padding .1rem 1.5rem
    border-left-width 0.313rem
    border-left-style solid
    margin 1rem 0
  &.tip
    background-color rgba(#1b9400,.1)
    border-color #1b9400
    .custom-block-title
      color #20ad00
    .custom-block-title
      color darken(#1b9400, 22%) 
    // p
    //   color darken(#1b9400, 35%) 
    //   code
    //     color darken(#1b9400, 35%)
    //     background-color rgba(#1b9400,0.07)
  
  &.warning
    background-color rgba(#FFB822,.1)
    border-color #FFB822
    .custom-block-title
      color darken(#FFB822, 22%) 
    // p
    //   color darken(#FFB822, 35%) 
    //   code
    //     color darken(#FFB822, 35%)
    //     background-color rgba(#FFB822,0.1)

  &.danger
    background-color rgba(#e00400,.1)
    border-color #e00400
    .custom-block-title
      color #e00400
    .custom-block-title
      color darken(#e00400, 10%) 
    // p
    //   color darken(#e00400, 15%) 
    //   code
    //     color darken(#e00400, 15%)
    //     background-color rgba(#e00400,0.1)

  &.details
    display block
    position relative
    border-radius 6px
    margin 1.6em 0
    padding 1.6em
    background-color lighten($primaryColor, 90%)
    summary
      color $primaryColor
      font-weight 500
      display flex
      align-items center
    div[class*="language-"]
      background rgba(255,255,255,.9)
      border-radius 6px
      margin-top 1em
    h4
      margin-top 0
    figure, p
      &:last-child
        margin-bottom 0
        padding-bottom 0
    summary
      outline none
      cursor pointer
