@require './config'

$mobileSidebarWidth = $sidebarWidth * 0.82

// narrow desktop / iPad
@media (max-width: $MQNarrow)
  .theme-container
    grid-template-columns $mobileSidebarWidth 'calc(100% - %s)' % $mobileSidebarWidth
  .sidebar
    width 100%

// wide mobile
@media (max-width: $MQMobile)
  .navbar
    height $mobileNavbarHeight
  .theme-container
    display block
  .sidebar
    position fixed
    z-index 19
    top 0
    padding-top ($mobileNavbarHeight + 1rem)
    transform translateX(100%)
    transition transform .2s ease
    display block
    font-size 1rem;
    .sidebar_footer
      display none
  .page
    padding-left 0
  .theme-container
    &.sidebar-open
      .sidebar
        transform translateX(0)
    &.no-navbar
      .sidebar
        padding-top: 0
  {$contentClass}:not(.custom)
    @extend $wrapper
    > *:first-child
      margin-top ($mobileNavbarHeight - 1rem)

  h1, h2, h3, h4, h5, h6
    {$contentClass}:not(.custom) > &
      margin-top (0.5rem - $mobileNavbarHeight)
      padding-top ($mobileNavbarHeight + 1rem)

  .indent
    padding-left: 0;

// narrow mobile
@media (max-width: $MQMobileNarrow)
  h1
    font-size 1.9rem
  {$contentClass}
    div[class*="language-"]
      margin 0.85rem -1.5rem
      border-radius 0
