.root-item
    background rgba($primaryColor,.04)
    border solid 1px $borderColor
    border-radius 0
    margin 1rem 0
    padding 0.5rem
    box-sizing border-box
    overflow auto

.json-view-item
    .chevron-arrow
        border-radius 2px
        border solid 1px $primaryColor !important
        transform rotate(0) !important
        width 0.875rem !important
        height 0.875rem !important
        margin-right 0.625rem !important
        margin-left 0 !important
        display flex
        align-items center
        justify-content center
        &:after
            content 'add'
            color $primaryColor
            font-family 'Material Icons'
            font-weight normal
            font-style normal
            font-size 0.875rem
            text-transform none
            letter-spacing normal
            word-wrap normal
            white-space nowrap
            direction ltr
            -webkit-font-smoothing antialiased
            text-rendering optimizeLegibility
            -moz-osx-font-smoothing grayscale
            font-feature-settings 'liga'
        &.opened
            &:after
                content 'remove'
    .data-key
        font-size 0.875rem !important
        font-weight 700 !important
        color $textColor !important
        padding 0.375rem !important
        &:hover
            background rgba($primaryColor,.1) !important
        .properties
            font-weight 400 !important

    .value-key
        font-size 0.875rem !important
        font-weight 400 !important
        padding 0rem 0.375rem !important
        margin-top 0.313rem !important
        margin-bottom 0.625rem !important