version: 2
updates:
  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: weekly
    ignore:
      - dependency-name: "github.com/tendermint/tendermint"
        update-types:
          ["version-update:semver-major", "version-update:semver-minor"]
      - dependency-name: "github.com/cosmos/ibc-go"
        update-types:
          ["version-update:semver-major", "version-update:semver-minor"]
    open-pull-requests-limit: 10
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
