networks/cosmoshub-3/cosmoshub3_for_zero_height.json filter=lfs diff=lfs merge=lfs -text
networks/cosmoshub-3/snapshot.json filter=lfs diff=lfs merge=lfs -text
networks/osmosis-1/genesis.json filter=lfs diff=lfs merge=lfs -text
networks/osmosis-1/pregenesis.json filter=lfs diff=lfs merge=lfs -text
