go 1.20

use ./osmomath

use ./osmoutils

use ./x/ibc-hooks

use ./tests/cl-go-client

use ./tests/cl-genesis-positions

use .

use ./x/epochs

replace github.com/cosmos/cosmos-sdk => github.com/osmosis-labs/cosmos-sdk v0.47.6-0.20231219155335-9011de09ccec
