go 1.21

use .

use ./osmomath

use ./osmoutils

use ./x/ibc-hooks

use ./x/epochs

replace github.com/onsi/ginkgo => github.com/onsi/ginkgo v1.16.5

replace github.com/cometbft/cometbft => github.com/faddat/cometbft v0.37.2-0.20240225123648-75f9d4f17a94
