// colors
$accentColor = #322dc2
$primaryColor = #670cad
$textColor = #0f0f0f
$borderColor = #EDF1F7
$codeBgColor = #0a0f22
$arrowBgColor = #D2D9F0
$badgeTipColor = #de1dd1
$badgeWarningColor = darken(#FFB822, 0%)
$badgeErrorColor = #FD3A7A


$nightAccentColor = #fff
$nightPrimaryColor = #fff
$nightTextColor = #fff
$bgColor = #fff
$nightBgColor = #231d4b
$nightBorderColor = #2f2959
// $codeBgColor = #ecf4fa
$nightCodeBgColor = lighten(#3e3383,10%)
// $arrowBgColor = #ccc
$nightArrowBgColor = #3e3383
$badgeWarningColor = darken(#ffe564, 35%)
$boxShadowColor = #f0f1f2
$nightBoxShadowColor = #261f50

// layout
$navbarHeight = 5.5rem
$sidebarWidth = 20rem
$contentWidth = 1280px
$homePageWidth = 1280px
$layoutWidth = 1280px
$mobileNavbarHeight = 3.875rem

// responsive breakpoints
$MQNarrow = 1023px

// Mobile originally 768
$MQMobile = 935px
$MQMobileNarrow = 419px

// OSMO colors
// #de1dd1 osmo logo light
// #670cad osmo logo dark
// #170f34 osmo bg dark
// #2d2755 osmo bg middle
// #3c356d osmo bg light
// #322dc2 osmo blu buttons
// #ffffff osmo wte
// #382aba osmo molecule color
// #231d4b osmo assets bg
