// thmem colors
$themeColor: #670cad !default;
$themeDarkColor: #de1dd1 !default;

// background colors
$bgColor: #fff !default;
$bgDarkColor: #2f3136 !default;

$deepBgColor: #f2f2f2 !default;
$deepBgDarkColor: #464c53 !default;

$inlineCodeBgColor: #f5f7fa !default;
$inlineCodeBgDarkColor: #32373e !default;

$blockCodeBgColor: #2b2b2b !default;
$blockCodeBgDarkColor: #32373e !default;

$highlightLineBgColor: #464542 !default;
$highlightLineBgDarkColor: #52555a !default;

$tipBgColor: #e6f7ff !default;
$tipBgDarkColor: rgba(56, 137, 197, 0.25) !default;

$warningBgColor: #fffaf0 !default;
$warningBgDarkColor: #2b2111 !default;

$dangerBgColor: #fff2f0 !default;
$dangerBgDarkColor: rgba(208, 58, 82, 0.25) !default;

$referenceBgColor: rgba(0, 0, 0, 0.054) !default;
$referenceBgDarkColor: rgba(255, 255, 255, 0.054) !default;

// text colors
$textPrimaryColor: #333 !default;
$textPrimaryDarkColor: #dcddd8 !default;

$textSecondaryColor: #444 !default;
$textSecondaryDarkColor: #a2a9af !default;

$textTertiaryColor: #666 !default;
$textTertiaryDarkColor: #666 !default;

$codeColor: #303133 !default;
$codeDarkColor: #b7b5b3 !default;

$tipColor: #7dc7f5 !default;
$tipDarkColor: #3b9edd !default;

$warningColor: #e0b76c !default;
$warningDarkColor: #e0b76c !default;

$dangerColor: #e0706a !default;
$dangerDarkColor: #db646a !default;

// border colors
$borderColor: #eaeaea !default;
$borderDarkColor: #444c56 !default;

$tipBorderColor: #7acbfd !default;
$tipBorderDarkColor: rgba(56, 137, 197, 0.35) !default;

$warningBorderColor: #f5a623 !default;
$warningBorderDarkColor: #594214 !default;

$dangerBorderColor: #ffccc7 !default;
$dangerBorderDarkColor: rgba(208, 58, 82, 0.35) !default;

$referenceBorderColor: #8a8383 !default;
$referenceBorderDarkColor: #8c8888 !default;

// link colors
$linkColor: $themeColor !default;
$linkDarkColor: $themeDarkColor !default;
