package cli

import flag "github.com/spf13/pflag"

const (
	// TODO: change this, code-generated
	FlagTest = "test-flag"
)

func FlagCodeGenerated() *flag.FlagSet {
	fs := flag.NewFlagSet("", flag.ContinueOnError)
	fs.String(FlagTest, "", "TODO: change this, code-generated")
	return fs
}
