syntax = "proto3";
package osmosis.{{.ModuleName}}.v1beta1;

import "gogoproto/gogo.proto";
import "osmosis/{{.ModuleName}}/v1beta1/genesis.proto";
import "osmosis/{{.ModuleName}}/v1beta1/tx.proto";

option go_package = "{{.ModulePath}}/client/queryproto";

service Query {
  rpc Params(ParamsRequest) returns (ParamsResponse) {
    option (google.api.http).get = "/osmosis/{{.ModuleName}}/v1beta1/Params";
  }
}

//=============================== Params
message ParamsRequest {}
message ParamsResponse { Params params = 1 [ (gogoproto.nullable) = false ]; }