syntax = "proto3";
package osmosis.{{.ModuleName}}.v1beta1;

import "gogoproto/gogo.proto";
import "cosmos/base/v1beta1/coin.proto";

option go_package = "{{.ModulePath}}/types";

service Msg {
    rpc Test(MsgTest) returns (MsgTestResponse);
}

// ===================== MsgTest
message MsgTest {
    string sender = 1 [ (gogoproto.moretags) = "yaml:\"sender\"" ];
}

message MsgTestResponse {}