name: Changelog Reminder
on:
  pull_request:
    types: [assigned, opened, synchronize, reopened, labeled, unlabeled]
    branches:
      - main

jobs:
  build:
    name: Check Actions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v37.6.0
        with:
          files_ignore: |
            **/*.md
            **/*_test.go
            **/*.py
            .github/workflows/*.yml

      - name: Changelog check
        # Skip this step and return success result for markdown only changes
        if: |
          steps.changed-files.outputs.any_changed == 'true' ||
          steps.changed-files.outputs.any_deleted == 'true' ||
          steps.changed-files.outputs.any_modified == 'true'
        uses: Zomzog/changelog-checker@v1.3.0
        with:
          fileName: CHANGELOG.md
          noChangelogLabel: A:no-changelog
          checkNotification: Simple
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
