name: Cosmwasm Contracts
on:
  pull_request:
    branches:
      - "**"
  push:
    branches:
      - "main"
      - "v[0-9]**"
  workflow_dispatch:


jobs:
  test:
    name: Optimize Cosmwasm Contracts
    runs-on: ubuntu-latest
    strategy:
      matrix:
        contract: [
          {workdir: ./x/ibc-rate-limit/, bytecode: x/ibc-rate-limit/bytecode/rate_limiter.wasm, build: artifacts/rate_limiter.wasm, name: rate_limiter},
          {workdir: ./cosmwasm/, bytecode: tests/ibc-hooks/bytecode/crosschain_swaps.wasm, build: artifacts/crosschain_swaps.wasm, name: crosschain_swaps},
          {workdir: ./cosmwasm/, bytecode: tests/ibc-hooks/bytecode/swaprouter.wasm, build: artifacts/swaprouter.wasm, name: swaprouter},
        ]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
      - uses: technote-space/get-diff-action@v6.0.1
        with:
          PATTERNS: |
            **/workflows/contracts.yml
            **/**/*.wasm
            **/**.rs
            **/**Cargo.toml
            **/**Cargo.lock

      - name: Store matrix values
        run: >
           echo ::set-env name=matrix_prev::${{ toJson(matrix) }}

      - name: Optimize
        working-directory: ${{ matrix.contract.workdir }}
        run: >
          docker run --rm -v "$(pwd)":/code \
            --mount type=volume,source="$(basename "$(pwd)")_cache",target=/code/target \
            --mount type=volume,source=registry_cache,target=/usr/local/cargo/registry \
            cosmwasm/workspace-optimizer:0.12.10
        if: env.GIT_DIFF && matrix_prev.contract.workdir == matrix.contract.workdir

      - name: 'Upload Cargo.lock artifact'
        uses: actions/upload-artifact@v3
        with:
          name: Cargo.lock
          path: ${{ matrix.contract.workdir }}Cargo.lock
          retention-days: 1
        if: env.GIT_DIFF && matrix_prev.contract.workdir == matrix.contract.workdir

      - name: 'Upload optimized contract artifact'
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.contract.name }}
          path: ${{ matrix.contract.workdir }}${{ matrix.contract.build }}
          retention-days: 1
        if: env.GIT_DIFF

      - name: Check Test Data
        working-directory: ${{ matrix.contract.workdir }}
        if: env.GIT_DIFF && matrix.completed == true
        run: >
          diff "${GITHUB_WORKSPACE}/${{ matrix.contract.bytecode }}" ${{ matrix.contract.build }}

  tests:
    name: Test Cosmwasm Contracts
    runs-on: ubuntu-latest
    strategy:
      matrix:
        contract: [
          {workdir: ./x/ibc-rate-limit/, bytecode: x/ibc-rate-limit/bytecode/rate_limiter.wasm, build: artifacts/rate_limiter.wasm, name: rate_limiter},
          {workdir: ./cosmwasm/, bytecode: tests/ibc-hooks/bytecode/crosschain_swaps.wasm, build: artifacts/crosschain_swaps.wasm, name: crosschain_swaps},
          {workdir: ./cosmwasm/, bytecode: tests/ibc-hooks/bytecode/swaprouter.wasm, build: artifacts/swaprouter.wasm, name: swaprouter},
        ]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
      - uses: technote-space/get-diff-action@v6.0.1
        with:
          PATTERNS: |
            **/workflows/contracts.yml
            **/bytecode/*.wasm
            **/**.rs
            **/**Cargo.toml
            **/**Cargo.lock
      - name: Install toolchain
        uses: dtolnay/rust-toolchain@1.65.0
        with:
          target: wasm32-unknown-unknown
        if: env.GIT_DIFF

      - name: Add the wasm target
        working-directory: ${{ matrix.contract.workdir }}
        run: >
          rustup target add wasm32-unknown-unknown;
        if: env.GIT_DIFF

      - name: Test
        working-directory: ${{ matrix.contract.workdir }}
        run: >
          cargo test
        if: env.GIT_DIFF


  lints:
    name: Cosmwasm Lints
    runs-on: ubuntu-latest
    strategy:
      matrix:
        workdir: [./x/ibc-rate-limit, ./cosmwasm]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
      - uses: technote-space/get-diff-action@v6.0.1
        with:
          PATTERNS: |
            **/workflows/contracts.yml
            **/**.rs
            **/**Cargo.toml
            **/**Cargo.lock
      - name: Install toolchain
        uses: dtolnay/rust-toolchain@1.65.0
        with:
          components: rustfmt, clippy
        if: env.GIT_DIFF

      - name: Format
        working-directory: ${{ matrix.workdir }}
        run: >
          cargo fmt --all -- --check
        if: env.GIT_DIFF

      - name: run cargo clippy
        working-directory: ${{ matrix.workdir }}
        run: >
          cargo clippy -- -D warnings
        if: env.GIT_DIFF

