name: E2E Full Daily Run

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  get_diff:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Get git diff
        uses: technote-space/get-diff-action@v6.1.2
        with:
          PATTERNS: |
            **/**.wasm
            **/**.go
            **/**.mod
            **/**.sum
            Makefile
            Dockerfile
            .github/workflows/e2e-full.yml
      - name: Set output
        id: vars
        run: echo "git_diff=$GIT_DIFF" >> $GITHUB_OUTPUT
    outputs:
      git_diff: ${{ steps.vars.outputs.git_diff }}

  e2e:
    needs: get_diff
    if: needs.get_diff.outputs.git_diff
    runs-on: buildjet-4vcpu-ubuntu-2204
    timeout-minutes: 20
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build e2e image
        uses: docker/build-push-action@v6
        with:
          load: true
          context: .
          tags: osmosis:debug
          build-args: |
            BASE_IMG_TAG=debug
            BUILD_TAGS="netgo,muslc"
      - name: Test e2e and Upgrade
        run: make test-e2e-ci-scheduled
      - name: Dump docker logs on failure
        if: failure()
        uses: jwalton/gh-docker-logs@v2
        with:
          dest: "./logs"
      - name: Tar logs
        if: failure()
        run: |
          tar cvzf ./logs.tgz ./logs
      - name: Upload logs to GitHub
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: logs.tgz
          path: ./logs.tgz
