name: Run Gosec
on:
  # TODO: potentially revisit in the future
  # push:
  #   branches:
  #     - master
  # pull_request:
  #   branches:
  #     - master
  workflow_dispatch:
jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
    steps:
      - name: Checkout Source
        uses: actions/checkout@v5
      - name: Run Gosec Security Scanner
        uses: informalsystems/gosec@master
        with:
          args: ./...
