name: Simulation
#  Simulation workflow runs simulation test
#  This workflow is run on pushes to master & every Pull Requests where a .go, .mod, .sum have been changed
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2.1.4
        with:
          go-version: 1.18
      - name: Display go version
        run: go version
      - name: Run full application simulation
        run: |
          make test-sim-app
      - name: Run simulation determinism check
        run: |
          make test-sim-determinism
