name: Tests & Code Coverage

on:
  pull_request:
  push:
    branches:
      - "**"

jobs:
  should_run_test:
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@master
        with:
          cancel_others: "true" # workflow-runs from outdated commits will be cancelled.
          concurrent_skipping: "same_content"
          skip_after_successful_duplicate: "true"
          paths: '["**/*.go", "**/*.mod", "**/*.sum"]'
          do_not_skip: '["pull_request", "workflow_dispatch", "schedule"]'
      - name: Skipping test
        run: echo Should I skip tests? ${{ steps.skip_check.outputs.should_skip }}

  test:
    needs: should_run_test
    if: ${{ needs.should_run_test.outputs.should_skip != 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Setup Golang
        uses: actions/setup-go@v2.1.4
        with:
          go-version: 1.17
      - name: Display go version
        run: go version
      - name: Run all tests
        run: go test -mod=readonly -timeout 30m -coverprofile=coverage.txt -tags='norace' -covermode=atomic `go list ./... | grep -v simapp`
      - name: Codecov
        uses: codecov/codecov-action@v1.5.2

  liveness-test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.17
      - uses: technote-space/get-diff-action@v6.0.1
        id: git_diff
        with:
          PATTERNS: |
            **/**.go
            go.mod
            go.sum
      - name: Install Starport
        run: |
          curl https://get.starport.network/starport@v0.19.5! | bash
        if: env.GIT_DIFF
      - name: Start Local Network via Starport
        run: |
          starport chain serve --reset-once -v -c ./starport.ci.yml
        if: env.GIT_DIFF
      - name: Test Local Network Liveness
        run: |
          sleep 2m
          ./contrib/scripts/test_localnet_liveness.sh 100 5 50 localhost
        if: env.GIT_DIFF
