name: Tests & Code Coverage

on:
  pull_request:
  push:
    branches:
      - "**"

jobs:
  should_run_test:
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@master
        with:
          cancel_others: "true" # workflow-runs from outdated commits will be cancelled.
          concurrent_skipping: "same_content"
          skip_after_successful_duplicate: "true"
          paths: '["**/*.go", "**/*.mod", "**/*.sum"]'
          do_not_skip: '["pull_request", "workflow_dispatch", "schedule"]'
      - name: Skipping test
        run: echo Should I skip tests? ${{ steps.skip_check.outputs.should_skip }}

  test:
    needs: should_run_test
    if: ${{ needs.should_run_test.outputs.should_skip != 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Setup Golang
        uses: actions/setup-go@v2.1.4
        with:
          go-version: 1.18
      - name: Display go version
        run: go version
      - name: Run all tests
        run: |
          make test-cover
      - name: Codecov
        uses: codecov/codecov-action@v1.5.2

  liveness-test:
    runs-on: ubuntu-latest
    if: github.event.push == true
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.18
      - uses: technote-space/get-diff-action@v6.0.1
        id: git_diff
        with:
          PATTERNS: |
            **/**.go
            go.mod
            go.sum
      - name: Install Ignite CLI
        run: |
          curl https://get.ignite.com/cli@v0.20.0! | bash
        if: env.GIT_DIFF
      - name: Start Local Network via Ignite CLI
        run: |
          ignite chain serve --reset-once -v -c ./ignite.ci.yml > ignite.out 2>&1 &
        if: env.GIT_DIFF
      - name: Test Local Network Liveness
        run: |
          sleep 3m
          ./contrib/scripts/test_localnet_liveness.sh 100 5 50 localhost
        if: env.GIT_DIFF

  test-e2e:
    runs-on: ubuntu-latest
    if: github.event.push == true
    timeout-minutes: 25
    steps:
      - uses: actions/setup-go@v2.2.0
        with:
          go-version: 1.17
      - uses: actions/checkout@v2
      - name: Build Docker Image
        run: |
          make docker-build-debug
      - name: Test E2E
        run: |
          make test-e2e-skip-upgrade

  
  test-e2e-with-upgrade:
    runs-on: ubuntu-latest
    if: github.event.pull_request == true
    timeout-minutes: 25
    steps:
      - uses: actions/setup-go@v2.2.0
        with:
          go-version: 1.17
      - uses: actions/checkout@v2
      - name: Build Docker Image
        run: |
          make docker-build-debug
      - name: Test E2E and Upgrade
        run: |
          make test-e2e